aiohttp
streamlit
pandas
langchain-community
numpy
requests
beautifulsoup4
spacy
feedparser
scikit-learn
yfinance 
langchain
seaborn 
plotly
networkx
wordcloud
textblob
vaderSentiment
nltk
langchain
transformers
torch
dataclasses
google-generativeai
