streamlit
pandas
numpy
requests
beautifulsoup4
spacy
feedparser
scikit-learn
langchain
seaborn 
plotly
networkx
wordcloud
textblob
vaderSentiment
nltk
langchain
transformers
torch
dataclasses
google-generativeai
